@import url(https://fonts.googleapis.com/css?family=Neuton:200,400,700|Roboto+Mono:400,300|Julius+Sans+One|Quattrocento:400);

alternate-backgrounds {
  url("https://images.unsplash.com/photo-1435685813800-51ba4ceb9c4a?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=848&q=80");
}

/* variables */
:root {
  --p-num-rows: 2;
  --p-items-per-row: 2;
  --s-num-rows: 2;
  --s-items-per-row: 3;
  --white: #f2f2f2;
  --green-grad: #283a39;
  --blue-grad: #022a3f;
  --forest: "https://images.unsplash.com/photo-1458724029936-2cc6ee38f5ef?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80";
  --red-and-white: "https://images.unsplash.com/photo-1468796835058-f43f737a4941?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=844&q=80";
  --space: "https://images.unsplash.com/photo-1435224668334-0f82ec57b605?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80";
  --moon: "https://images.unsplash.com/photo-1468906824284-242b500c38b4?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=994&q=80";
  --bird: "https://images.unsplash.com/photo-1416183793821-cfdaa8c72745?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80";
}

section {
  display: flex;
  align-items: center;
  min-height: 100vh;
  //max-width: 100vw;
}
section:nth-child(2) {
  /* --bird */
  background: url("https://images.unsplash.com/photo-1416183793821-cfdaa8c72745?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80") no-repeat center fixed;
  background-size: cover;
}
section:nth-child(3) {
  position: relative;
  background: linear-gradient(var(--blue-grad), black);
}
section:nth-child(4) {
  position: relative;
  /* --moon */
  background: black url("https://images.unsplash.com/photo-1468906824284-242b500c38b4?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=994&q=80") no-repeat center fixed;
  background-size: cover;
}

div {
  //border: 2px solid white;
}

.navigation {
  height: 90px;
  width: 120px;
  float: left;
  position: fixed;
  text-align: left;
  z-index: 10;
}
hr.head {
  width: 120
}

ul {
  margin-left: -40px;
  list-style-type: none;
  color: var(--white);
  font-family: 'Julius Sans One';
}

.contact {
  height: 40px;
  width: 170px;
  float: left;
  position: fixed;
  top: 93vh;
  text-align: left;
  font-size: 22px;
  color: var(--white);
  z-index: 10;
}

.fa {
  padding-right: 8px !important;
}

.about {
  border-left: 1px solid black;
  max-height: 170px;
  max-width: 250px;
  transform: translate(0, 25vh);
  font-family: 'Quattrocento';
  font-size: 14px;
  color: #283a39;
  line-height: 22px;
}

.portfolio {
  left: 100px;
  min-width: calc(100vw - 250px);
  min-height: 100vh;
  margin-left: 100px;
  transform: translate(0, 0px);
  display: flex;
  flex-direction: column;
}

.column {
  width: 100%;
  font-family: 'Roboto Mono';
  display: flex;
  flex-direction: column;
  color: #757F9A;
}

li {
  list-style-type: none;
}

.links {
  border-left: 2px solid #757F9A;
  padding-left: 2px;
}

h3 {
  color: white;
  padding-bottom: 10px;
  font-size: 5vw;
}

a, a:hover, a:visited, a:active {
  text-decoration: none;
  color: inherit;
  z-index: 10;
}

.other-para {
  border-left: 1px solid var(--white);
  max-height: 320px;
  max-width: 250px;
  transform: translate(0, 25vh);
  font-family: 'Quattrocento';
  font-size: 14px;
  color: var(--white);
  line-height: 22px;
}
